<h1>Search Result: Route Found!</h1>

<% if @params[:street].nil? %>
  <div style="width:100%;border:1px solid black;">
    <div style="width:45%;float:left;padding:5px;border-right:1px solid black">
      <p><b>Source:</b> Route 32, Studio Arts Building
      <p><b>Destination:</b> Route 32, North Amherst<br>

      <h2>Directions</h2>
      <table border style="float:left;">
        <tr>
          <th>Route Name</th>
          <th>Description</th>
          <th>Time of Bus Arrival</th>
        </tr>
        <tr>
          <td>Route 32<br>Route 45<br>Route 31</td>
          <td>Get on the bus at the The Studio Arts Building</td>
          <td>12:32 PM</td>
        </tr>
        <tr>
          <td></td>
          <td>Get off at North Amherst Bus stop</td>
          <td>12:38 PM</td>
        </tr>
        <tr>
          <td></td>
          <td><b>Total Time</b></td>
          <td>6 Minutes</td>
        </tr>
      </table>

      <br><br>
      <%= button_to "Make Another Search", :back, method: :get, class: "submit" %>
      <%= button_to "Schedule an Alert", new_alarm_url, method: :get, class: "submit" %>
    </div>
    <div style="width:45%;float:left;padding:5px;">
      <h2>Route 31, 32, 45</h2>
      <%= image_tag("bstbs.png", width: '400', style: "margin-left:auto;margin-right:auto") %>
    </div>
    <br style="clear:both;line-height:0" />
  </div>


<% else %>
  <div style="width:100%;border:1px solid black;">
    <div style="width:45%;border-right:1px solid black;float:left;padding:5px;">
      <p><b>Source:</b> Studio Arts Building, Amherst MA, 01002<br>
      <p><b>Destination:</b> 61 Pine St, Amherst MA, 01002<br>

      <h2>Directions</h2>
      <table border style="float:left;">
        <tr>
          <th>Route Name</th>
          <th>Description</th>
          <th>Timeframe</th>
        </tr>
        <tr>
          <td>Walking</td>
          <td>Walk to the Studio Arts Building</td>
          <td>12 minutes</td>
        </tr>
        <tr>
          <td>Route 32</td>
          <td>Get on the bus at the Lederle Graduate Research Center</td>
          <td>8 minutes</td>
        </tr>
        <tr>
          <td>Route</td>
          <td>Get off the bus at North Amherst</td>
          <td>6 minutes</td>
        </tr>
        <tr>
          <td>Walking</td>
          <td>Walk to 61 Pine Street</td>
          <td>5 minutes</td>
        </tr>
        <tr>
          <td></td>
          <td><b>Total Time</b></td>
          <td> 31 Minutes</td>
        </tr>
      </table>

      <br><br>
      <%= button_to "Make Another Search", :back, method: :get, class: "submit" %>
      <%= button_to "Schedule an Alert", new_alarm_url, method: :get, class: "submit" %>
    </div>
    <div style="width:45%;float:left;padding:5px;">
      <h2>Route 31, 32, 45</h2>
      <%= image_tag("map_image_2.png", width: '400', style: "margin-left:auto;margin-right:auto") %>
    </div>
    <br style="clear:both;line-height:0" />
  </div>
<% end %>
