<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="Bus Tracker" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="https://dl.dropboxusercontent.com/u/126050982/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://dl.dropboxusercontent.com/u/126050982/fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">UMASS Bus Tracker</a></h1>
			<span>Bus Tracking Designed by <a href="linkToUsSomehow.com" rel="nofollow">Jordan Moore, Justin Ivy, Serkan Oran, Dan Barrington</a></span> </div>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
        <li><%= link_to "Point to Point", {controller: "plan_route", action: "ptp"} %></li>
        <li><%= link_to "Bus Stop to Bus Stop", {controller: "plan_route", action: "bstbs"} %></li>
        <li><%= link_to "My Bus Routes", {controller: "plan_route", action: "saved_searches"} %></li>
        <li><%= link_to "Bus Info", {controller: "stops", action: "index"} %></li>
			</ul>
		</div>
</div>
<div id="wrapper">
	<div id="featured-wrapper" style="padding:0px">
	
		<div class="extra2 container">
			<div class="ebox1">
				<%= yield %>
			</div>		
			<div class="ebox2">

			</div>		

		</div>	

	</div>
</div>
<div id="stamp" class="container">
	<div class="hexagon"></div>
</div>
</body>
</html>
