<h1 style="padding:20px">Schedule an Alarm</h1>
<table style="border:1px solid black;margin-left:auto;margin-right:auto; width:100%">
  <tr>
   <td style="height:400px;border-right:1px solid black;width:50%;vertical-align:top;padding-top:5px">
   	<br>
   	<h2>Bus Schedule Information</h2>
   	   	<br>
   		<br>

   		<h3>Route: 45</h3>
   		<br>
   		<h3>Bus Stop: LGRC</h3>
   		<br>
   		<h3>Bus Arrival Time: 12:30 P.M.</h3>
   		<br>
   		<%= button_to "Back", :back, method: :get %>
   </td>
   <td style="width:50%;vertical-align:top">
   	<br>
   	<div>
   		<h3>Alarm Frequency</h3>

   		<br>
   		
   		<%= label_tag("Once:")%>
   		<%=radio_button_tag("Alarm Frequency", 0, checked = true) %>
   		<%= label_tag("Weekly:")%>
   		<%=radio_button_tag("Alarm Frequency", 7) %>
   		<%= label_tag("Bi-Weekly:")%>
   		<%=radio_button_tag("Alarm Frequency", 14) %>
   		<%= label_tag("Monthly:")%>
   		<%=radio_button_tag("Alarm Frequency", 30) %>
   		<%= label_tag("Bi-Monthly:")%>
   		<%=radio_button_tag("Alarm Frequency", 60) %>
   	</div>
   	
   	<br>
   	
   	<h3>Alarm Date and Time</h3>
   	<br>

   	<div>
   		<%= label_tag("Month")%>
   		<%= select_month(Date.today)%>
   		<%= label_tag("Day")%>
   		<%= select_day(Time.now)%>
   		<%= label_tag("Year")%>
		<%= select_year(Date.today, start_year: Time.now.year)%>
		<br>
		<br>
		<%= label_tag("Hour")%>
   		<%= select_hour(Time.now)%>
   		<%= label_tag("Minute")%>
   		<%= select_minute(Time.now)%>
   	</div>

   	<br>
   	<br>

   	<h3>Alarm Contact</h3>
   	<br>
   	<div>
   		<%= text_field_tag("Phone#/Email", nil,{placeholder: "Enter Phone# or Email"})%>
   		<br>
   		<br>
   		<%= button_tag("Create Alarm")%>
   	</div>
   </td>
  </tr>
</table>